
.login--container {
  display: flex;
  justify-content: center;
}

.login--container input.span6 {
  max-width: 530px !important;
}

span.help-block {
  margin-bottom: 0;
  color: red;
  padding: 10px 0 0 0;
}

.help-block.pwd-error {
  padding-top: 0;
  padding-bottom: 10px;
}

.form-group-item {
  margin: 10px 0;
}

.form-group-item label{
  padding-right: 15px;
}