/**
  Adding Truncation to an element
**/

/**
  Absolute Centering Element
**/

/**
  Making triangles via CSS
**/

.dataTables_paginate > .pagination {
  float: right;
}

.table__user-management .user-avatar img {
  width: 29px;
  height: 29px;
  border-radius: 50%;
}

.profile-detail__statistic h5 {
  font-size: 10px;
}

.tab-personal-info .gender-radio {
  margin-top: 8px;
}

