/**
  Adding Truncation to an element
**/

/**
  Absolute Centering Element
**/

/**
  Making triangles via CSS
**/

a {
  text-decoration: none !important;
}

.logo {
  margin-top: 5px;
}

.logo img {
  max-width: 235px;
  max-height: 277px;
}

.slogan {
  margin-top: 22px;
  text-transform: normal;
  font-family: "Tahoma", Arial, sans-serif;
  color: #b94a48;
}

.language-item img {
  max-width: 30px;
  max-height: 30px;
}

.language-change {
  margin-top: 32px;
}

.language-change a {
  float: right;
}

.winwin__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login--container input.span6 {
  max-width: 530px !important;
}

span.help-block {
  margin-bottom: 0;
  color: red;
  padding: 10px 0 0 0;
}

.help-block.pwd-error {
  padding-top: 0;
  padding-bottom: 10px;
}

.form-group-item {
  margin: 10px 0;
}

.form-group-item label {
  padding-right: 15px;
}

.flexslider .slides img {
  max-width: 770px;
  max-height: 354px;
}

.view--all {
  float: right;
}

.title--general {
  text-align: center;
}

img.blog-thumb-preview {
  width: 100% !important;
  height: auto !important;
}

.popular-posts.more-activities img {
  width: 140px;
  height: 80px;
}

.popular-posts.more-activities li {
  margin-bottom: 26px;
}

