.logo {
  margin-top: 5px;
}

.logo img {
  max-width: 235px;
  max-height: 277px;
}

.slogan {
  margin-top: 22px;
  text-transform: normal;
  font-family: "Tahoma", Arial, sans-serif;
  color: #b94a48;
}

.language-item img{
  max-width: 30px;
  max-height: 30px;
}

.language-change {
  margin-top: 32px;
}

.language-change a {
  float: right;
}

.winwin__navigation {
  display: flex;
  justify-content: center;
}
