
.flexslider .slides img {
  max-width: 770px;
  max-height: 354px;
}

.view--all {
  float: right;
}

.title--general {
  text-align: center;
}

img.blog-thumb-preview {
  width: 100% !important;
  height: auto !important;
}

.popular-posts.more-activities img{
  width: 140px;
  height: 80px;
}

.popular-posts.more-activities li{
  margin-bottom: 26px;
}
